extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | Sofia, Mladost 3, bl.304, floor 4
    br
    abbr(title='Phone') Phone: 
    | 0895 60 30 37

  address
    strong Support: 
    a(href='mailto:mitko.hristov@gmail.com') mitko.hristov@gmail.com
    br
    strong Marketing: 
    a(href='mailto:mitko.hristov@gmail.com') mitko.hristov@gmail.com
