extends layout

block content
    .jumbotron
          h1 #{title}
          h3 #{message}
          strong Address: Sofia, Mladost 3
          br
          strong Phone: 0895 60 30 37
          br
          strong Support: 
          a.contact_info(href='mailto:mitko.hristov@gmail.com') mitko.hristov@gmail.com
          br
          strong Marketing: 
          a.contact_info(href='mailto:mitko.hristov@gmail.com') mitko.hristov@gmail.com
