extends layout

block content
    .jumbotron
        .divEnterYourName
            label.left Please enter your name :
            input.form-control#txtEnterYourName(type="text")
            button#btnEnterYourName(class ="btn btn-default") Enter
            input#hdnEnterYourNamePrevousRequestUrl(type="hidden" value="#{url}")
        
block scripts
    script(src='/javascripts/enterYourName.js')
