extends layout

block content
    .jumbotron.homeMainArea(ng-controller="homeController")
        div.divHomeMainImage
            img(id="homeMainImage" src="/images/video-conference-rental.jpg")
        h1(id="homeMainTitle") Click And Talk
        ul.breadcrumb.ulHomeCreateJoinSession
            li.liHomeCreateSession
                button#btnHomeCreateSession(class="btn btn-default", type="submit" ng-click="createSession('/session/create?', 'User name is required!')") Create Session
            li.liHomeJoinSession
                button#btnHomeJoinSession(class="btn btn-default", type="submit" ng-click="joinSession('/session/join?sessionId=', 'Session id is required!', 'User name is required!');") Join Session
                input#txtHomeUserName(type="text" class="form-control" placeholder="User name" ng-model="userName" ng-keypress="onEnterUserName('/session/create?', 'User name is required!', $event)")
                input#txtHomeJoinSessionId(type="text" class="form-control" placeholder="Session Id" ng-model ="sessionId")
block scripts
    script(src='/javascripts/controllers/homeController.js')
