extends layout

block content
    .jumbotron
        .row
            .col-md-8
            .row
                .userInfo
                    label Your session Id is : #{sessionId}
                    br
                    label Your user name is : #{userName}
                    br
                    label Number of connected users: 
                    input#txtNumberOfUsers(type="text" value="", disabled ="true")
                    br
                    label Join Url : 
                    input#txtJoinJoinUrl(type="text" value="", disabled ="true")
                    input#hdnJoinSessionId(type="hidden" name="target" value="#{sessionId}")
                    input#hdnJoinUserName(type='hidden' name='target' value='#{userName}')
                .clear
            .col-md-4
            .row
            .videos
                video#myVideo(width='320', height='240', autoplay)
                label#lblMyVideo Your Video Camera

            .clear
            .row
                button#btnStartVideo(class="btn btn-default control-camera-buttons") Start Video
                button#btnStopVideo(class="btn btn-default control-camera-buttons") Stop Video
                .txtarea#txtJoinChat
                input#txtJoinMessage(type="text" placeholder="Type a message here...")
                button#btnEnterMessage(class="btn btn-default") Enter


block scripts
    script(src='/javascripts/join.js')