extends layout

block content
    .jumbotron
        .row
            .col-md-8
            .row
                .userInfo
                    label#lblYourSessionId Your session Id is : 
                    input.btn-default.form-control#txtSessionId(type="text" value="#{sessionId}", disabled ="true") 
                    br.clear
                    label#lblYourUserName Your user name is : 
                    input.btn-default.form-control#txtUserName(type="text" value="#{userName}", disabled ="true") 
                    br.clear
                    label#lblNumberOfConnectedUsers Number of connected users: 
                    input.btn-default.form-control#txtNumberOfUsers(type="text" value="", disabled ="true")
                    br.clear
                    label#lblJoinUrl Join Url : 
                    input.btn-default.form-control#txtJoinJoinUrl(type="text" value="", disabled ="true")
                    input#hdnJoinSessionId(type="hidden" name="target" value="#{sessionId}")
                    input#hdnJoinUserName(type='hidden' name='target' value='#{userName}')
                .clear
            .col-md-4
            .row
            .videos
                video.embed-responsive-item#myVideo(width='320', height='240', muted="muted", autoplay)
                video.embed-responsive-item#remoteVideo(width='320', height='240', autoplay)
                img#noVideoImage(src="/images/no_video.jpg")
                label#lblMyVideo Your Video Camera
                label#lblRemoteVideo Remote Camera

            .clear
            .row
                button#btnStartVideo(class="btn btn-default control-camera-buttons") Start Video
                button#btnStopVideo(class="btn btn-default control-camera-buttons") Stop Video
                ul.nav-tabs.nav#chatDashboard
                    li.tab
                        a(href="#threadTabContent") Thread
                    li.tab
                        a(href="#top5TabContent") Top 5 Comments
                .tab-content.tab
                    .tab-pane.fade#threadTabContent
                        .txtarea#txtJoinChat
                        input#txtJoinMessage(type="text" class="form-control" placeholder="Type a message here...")
                        button#btnEnterMessage(class="btn btn-default") Enter
                    .tab-pane.fade#top5TabContent
                        .txtarea#txtTop5Threads

block scripts
    script(src='/javascripts/join.js')