extends layout

block content
    .jumbotron(ng-controller="joinController")
        .row
            .col-md-8
            .row
                .userInfo
                    label#lblYourSessionId Your session Id is : 
                    input.btn-default.form-control#txtSessionId(type="text" value="#{sessionId}", disabled ="true") 
                    br.clear
                    label#lblYourUserName Your user name is : 
                    input.btn-default.form-control#txtUserName(type="text" value="#{userName}", disabled ="true") 
                    br.clear
                    label#lblNumberOfConnectedUsers Number of connected users: 
                    input.btn-default.form-control#txtNumberOfUsers(type="text", value="", disabled ="true", ng-model="numberOfUsers")
                    br.clear
                    label#lblJoinUrl Join Url : 
                    input.btn-default.form-control#txtJoinJoinUrl(type="text", value="", disabled ="true", ng-model="joinUrl")
                .clear
            .col-md-4
            .row
            .videos
                video.embed-responsive-item#myVideo(muted="muted", autoplay ng-show="videoElementsVisibility.showVideoRelatedElements")
                video.embed-responsive-item#remoteVideo(autoplay ng-show="videoElementsVisibility.showRemoteVideo")
                img#noVideoImage(src="/images/no_video.jpg" ng-show="!videoElementsVisibility.showVideoRelatedElements")
                label#lblMyVideo( ng-show="videoElementsVisibility.showVideoRelatedElements") Your Video Camera
                label#lblRemoteVideo(ng-show="videoElementsVisibility.showVideoRelatedElements") Remote Camera
            .clear
            .row
                button#btnStartVideo(class="btn btn-default control-camera-buttons", ng-click="startVideo();" ng-disabled="videoElementsVisibility.disableStartVideo") Start Video
                button#btnStopVideo(class="btn btn-default control-camera-buttons" ng-click="stopVideo();" ng-disabled="videoElementsVisibility.disableStopVideo") Stop Video
                ul.nav-tabs.nav#chatDashboard
                    li.tab.active
                        a(href="#threadTabContent", showtab="") Thread
                    li.tab
                        a(href="#top5TabContent", showtab="") Top 5 Comments
                .tab-content.tab
                    .tab-pane.active#threadTabContent
                        .txtarea#txtJoinChat
                            p(ng-repeat="item in chatMessages" style="color : {{item.color}};")
                                b {{item.message}}
                                input.thumbUp(type="image" src="/images/Thumbs_up.png" ng-click="thumbUp(item.messageId);" ng-show="item.show")
                                input.thumbDown(type="image" src="/images/Thumbs_down.png" ng-click="thumbDown(item.messageId);" ng-show="!item.show")
                        input#txtJoinMessage(type="text" class="form-control" placeholder="Type a message here...", ng-model="message" ng-keypress="onEnterMessage('Please enter a message!', $event)")
                        button#btnEnterMessage(class="btn btn-default" ng-click="enterMessage('Please enter a message!')") Enter
                    .tab-pane.fade#top5TabContent
                        .txtarea#txtTop5Threads
                            p(ng-repeat="item in top5" style="color : {{item.color}}")
                                b {{$index + 1}}. {{item.creator}} : {{item.message}} ({{item.numberOfVotes}} votes{{item.votes}})

block scripts
    script.
        clickAndTalk = clickAndTalk || {};
        clickAndTalk.joinController = clickAndTalk.joinController || {};
        clickAndTalk.joinController.sessionId = '#{sessionId}';
        clickAndTalk.joinController.userName = '#{userName}';
    script(src='/javascripts/controllers/joinController.js')

