extends layout

block content
  .jumbotron
    h2 You have entered wrong session id.
    button#wrongSessionIdbtnBack(class="btn btn-default", type="submit") Back

block scripts
    script(src='/javascripts/wrongSessionId.js') 


