extends layout

block content
  .jumbotron(ng-controller="wrongSessionIdController")
    h2 You have entered wrong session id.
    button#wrongSessionIdbtnBack(class="btn btn-default", type="submit", ng-click="back('/')") Back

block scripts
    script(src='/javascripts/controllers/wrongSessionIdController.js') 


