.liHomeCreateSession {

    width: 30%; 
    vertical-align: top;
}
.liHomeJoinSession {
    width: 70%;
    vertical-align: top;
}
#homeMainTitle {
    text-align:left;
}
.divHomeMainImage {
    float:left;
}
.ulHomeCreateJoinSession {
    float:left;
    width : 500px;
    margin-right : 20px;
}
.homeMainArea {
    height : 350px;
    float: left;
    width : 100%;
}
#txtHomeJoinSessionId {
    margin-left : 22px;
}

img{
 	border: solid 1px;
 	width: 100%;
 }

.txtarea{
	outline:none;
  	border:solid 1px #BBB;
  	font-size:15px;
  	margin-top: 10px;
  	height: 150px;
  	background-color: #fff;
  	margin-bottom: 10px;
  	overflow: scroll;
  	overflow-x: hidden;
 }

.video{
 	background-color: black;
 }
#no-other-participiants {
width : 50%;
}
#joinRoom {
width : 50%;
}
